[Unit]
Description=Service for the app
After=network.target

[Service]
User={{ linux_user_name }}
Group={{ linux_group_name }}
WorkingDirectory=/home/{{ linux_user_name }}
Environment="PATH={{ venv_name }}/bin"
ExecStart={{ venv_name }}/bin/uvicorn app:app --host 0.0.0.0 --port {{ app_port }}
Restart=always

[Install]
WantedBy=multi-user.target